body {
    background-color: var(--primary);
}

#addMovie {
    width: 100%;
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: var(--accent);
    text-align: center;
    line-height: 1rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-self: center;
    gap: 1rem;
}

.formContainers {
    flex-direction: row;
}

#form > div {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.fields {
    flex: 1;
    width: 100%;
}

.inputs {
    color: var(--light) !important;   
}

.labels {
    color: var(--light) !important;
}

#posterDiv {
    aspect-ratio: 3/4;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

#posterDiv img {
    object-fit: contain;
    width: 70%;
}

.Mui-focused fieldset {
    border-color: var(--secondary) !important;
}

.MuiOutlinedInput-root fieldset {
    border-color: var(--secondary);
}

.MuiOutlinedInput-root:hover fieldset {
    border-color: var(--light) !important;
}

.MuiSelect-iconOutlined {
    color: var(--light) !important;
}

.MuiListItemText-primary {
    color: var(--light) !important;
}

#sideFields {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

#sideFields > * {
    flex: 0;
}

.MuiButton-contained {
    background-color: var(--secondary) !important;
    
}

.MuiButton-root {
    color: var(--dark) !important;
    font-weight: 700 !important;
}

.genresItems{
    color: var(--dark) !important;
    font-size: 2rem !important;
    opacity: 1 !important;
}
.genresItems > span {
    color: var(--dark) !important;
    font-size: 1.5rem;
}

.Mui-selected.genresItems{
    background-color: #7f8a9c !important;
}
.Mui-checked{
    color: var(--primary) !important;
}

.MuiMenu-list{
    background-color: var(--secondary);
}

#addButton {
    border-bottom: 1px solid var(--accent);
}

@media screen and (max-width: 480px){
    #form {
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .formContainers {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}