body {
    background-color: var(--primary);
}

#addMovie {
    width: 100%;
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: var(--accent);
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-self: center;
    gap: 1rem;
    
}

.formContainers {
    flex-direction: row;
}

#form > div {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.fields {
    flex: 1;
    width: 100%;
}

.inputs {
    color: var(--light) !important;   
}

.labels {
    color: var(--light) !important;
}

#posterDiv {
    aspect-ratio: 3/4;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

#posterDiv img {
    object-fit: contain;
    width: 70%;
}

.Mui-focused fieldset {
    border-color: var(--secondary) !important;
}

.MuiOutlinedInput-root fieldset {
    border-color: var(--secondary);
}

.MuiSelect-iconOutlined {
    color: var(--light) !important;
}

.MuiListItemText-primary {
    color: var(--light) !important;
}

#sideFields {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

#sideFields > * {
    flex: 0;
}

.MuiButton-contained {
    background-color: var(--secondary) !important;
    
}

.MuiButton-root {
    color: var(--dark) !important;
    font-weight: 700 !important;
}

@media screen and (max-width: 480px){
    #form {
        width: 100%;
        justify-content: center;
        align-content: center;
        padding: 1rem;
    }
    .formContainers {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}