body {
    background-color: var(--primary);
}

#galleryContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
}

#movieGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.genreSelector {
    flex: 1;
    align-self: "center";
    margin-left: 25%;
    margin-right: 25%;
}

.cards {
    background-color: var(--light) !important;
    width: 14rem;
}

.MuiCardMedia-img {
    aspect-ratio: 2/3;
    object-fit: fill;
    background-size: cover;
}

.cardPosters{
    border-bottom-color: var(--accent);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: flex;
    flex: 2,
}

.cardClickables{
    height: auto;
}

.cardTitles{
    text-align: center;
}

@media screen and (max-width: 480px){
    #galleryContainer{
        width: 100%;
    }
    .cards{
        width: 30%;
    }
    .cardTitles{
        font-size: 1rem !important;
    }
    .genreSelector {
        margin-left: 10%;
        margin-right: 10%;
    }
}