#movieContainer {
    display: flex;
    flex-direction: row;
}

#random {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 50%;
}

#movieCard {
    width: 100%;
    padding: 1rem 1rem 1rem 0rem;
    background-color: var(--secondary);
}

#cardText {
    padding-top: 1rem;
}

#randomButton {
    border-bottom: 1px solid var(--accent);
}

#posterImg {
    border: 5px outset var(--primary);
}