#movieContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#random {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 50%;
}

#movieCard {
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary);
}

#cardText {
    padding-top: 1rem;
}

#randomButton {
    border-bottom: 1px solid var(--accent);
    width: 50%;
}

#posterImg {
    border: 5px outset var(--primary);
}

@media screen and (max-width: 480px){
    #random{
        width: 100%;
    }
    #movieContainer{
        flex-direction: column-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: flex-end;
        align-content: center;
    }
    #cardText{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}