:root {
  --primary: #2B2D42;
  --secondary: #8D99AE;
  --light: #EDF2F4;
  --dark: #333333;
  --accent: #D90429;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px groove var(--accent);
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tab{
  color: var(--light) !important;
}

.MuiTabs-indicator{
  background-color: var(--accent) !important;
}

#pageTitle{
  color: var(--accent);
  font-weight: bold;
}

@media screen and (max-width: 480px){
  html {
    font-size: 12px;
  }
}